$messenger-primary-light: #96a8c4; //separator
$messenger-primary-main: #3c577b; //background
$messenger-primary-dark: #00152a;
$messenger-primary-contrastText: #e1e9ff; //text
$messenger-secondary-light: #6d9dc0;
$messenger-secondary-main: #34739a;
$messenger-secondary-dark: #002b44;
$messenger-secondary-contrastText: #d6f0ff; //main header
