@use '../../../assets/scss/variables' as variables;

.wrapperListOfChats {
  height: 100%;
  position: relative;
  border-right: 1px solid variables.$messenger-primary-main;
  background: variables.$messenger-secondary-dark;
  overflow-y: auto;
}

.listOfChatsSearch {
  width: 100%;
  height: max-content;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid variables.$messenger-primary-main;
  background: variables.$messenger-secondary-dark;

  & .h2 {
    color: variables.$messenger-primary-contrastText;
  }
}

.itemList {
  height: 40px;
}

.listItemText {
  color: variables.$messenger-primary-contrastText;
}

.colorIcon {
  color: variables.$messenger-primary-contrastText;
}

.listItemButton {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &Content {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
}

.deleteButton {
  width: max-content;
}

.formContainer {
  width: 100%;
  margin: 20px 0;
  display: flex;
  column-gap: 10px;
}

.textField {
  background: white;
  border-radius: 4px;
}

label.Mui-focused {
  color: #fff;
}
